.rounded-image-container {
    width: 335px;
    height: 430px;
    border-radius: 20px; /* Adjust the border radius to make it more or less rounded */
    overflow: hidden;
    background-color: white; /* Set the background color to white */
    padding: 30px;
    transition: transform 0.3s ease;
    display: grid;
    place-items: center;
  }

  .rounded-image-container:hover {
    transform: scale(1.1);
  }

  .shrink-image {
    width: 100%;
    height: auto; 
  }

  .shrink-image-5 {
    width: 55%;
    height: auto;
  }

  .product-page-image {
    width: 30%;
    height: auto;
  }
  
  .product-page-right-side-image {
    width: 30%;
    margin-left: 70px;
    height: auto;
  }

  .listing-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .link-no-underline {
    text-decoration: none;
    color: black;
  }

  .horizontal-divider {
    border-top: 5px solid #ECEEF1;
    margin: 10px 0;
  }

  .product-page-description {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
  }

  .horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }