.rounded-image-container {
    width: 335px;
    height: 410px;
    border-radius: 20px; /* Adjust the border radius to make it more or less rounded */
    overflow: hidden;
    background-color: white; /* Set the background color to white */
    padding: 30px;
  }

  .shrink-image {
    width: 100%;
    height: auto; 
  }